{% extends 'base.html.twig' %}

{% block title %}Commande {{ order.orderNumber }}{% endblock %}

{% block body %}
    <div class="container accueil">
        <div class="row">
            <div class="col-3">
                <h4 class="titreShowOrder mt-4 p-2 text-center">
                    Commande
                    {% set array = [] %}
                    {% for account in order.account %}
                        {% set array = array|merge([ account.letter ]) %}                             
                    {% endfor %}
                    R2{{ array|join("") }}40-{{ order.orderNumber }}
                </h4>
            </div>
        </row>
        <div class="row">
            <div class="mt-4 d-flex flex-column justify-content-around">
                <div class="row">
                    <div class="col-5 mb-4"><strong>Fournisseur : </strong>{{ order.provider.username }}</div>
                    <div class="col-6"><strong>Désignation : </strong>{{ order.designation }}</div>
                </div>
                <div class="row">
                    <div class="col-5 mb-4"><strong>Montant : </strong>{{ order.expectedAmount }}</div>
                    <div class="col-6"><strong>Date: </strong>{{ order.createdAt | date("d/m/Y") }}</div>
                </div>
                <div class="row">
                    <div class="col-5 mb-4"><strong>Date livraison : </strong>{{ order.expectedDeliveryDate | date("d/m/Y") }}</div>
                    <div class="col-6"><strong>Statut : </strong>{{ order.status }}</div>
                </div>
            </div>
        </div>

        {# Bon de livraison et factures #}
        <div class="d-flex flex-row">
            <div class="col-5">
                <div class="d-flex">
                    <div class="subTitleShowOrder col-5">Bons de livraison</div>
                    <a class="btn btn-primary btn-sm" href="{{ path('delivery_form_new', { 'id': order.id }) }}" role="button">Ajout BL</a>
                </div>
                {% for deliveryForm in order.deliveryForms %}
                    <div class="row mt-3">
                        <div class="col-4">
                            <p><strong>Numéro : </strong>{{ deliveryForm.number }}</p>
                        </div>
                        <div class="col-4">
                            <p><strong>Date : </strong>{{ deliveryForm.deliveryDate | date("d/m/Y") }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-6">
                <div class="d-flex">
                    <div class="subTitleShowOrder col-3">Factures</div>
                    <a class="btn btn-primary btn-sm" href="{{ path('order_new') }}" role="button">Ajout Facture</a>
                </div>
                <div class="mt-2">
                    {% for invoice in order.invoice %}
                        <div class="border border-secondary rounded mb-2 p-2">
                            <div class="row mt-3">
                                <div class="col-4">
                                    <p><strong>Numéro : </strong>{{ invoice.invoiceNumber }}</p>
                                </div>
                                <div class="col-4">
                                    <p><strong>Date : </strong>{{ invoice.invoiceDate | date("d/m/Y") }}</p>
                                </div>
                                <div class="col-4">
                                    <p><strong>Montant : </strong>{{ invoice.amount }}€</p>
                                </div>
                            </div>
                            <div>
                                <h5>Bon de livraison : </h5>
                            </div>
                            {% for deliveryForm in invoice.deliveryForms %}
                                <div>
                                    <p>Numéro : {{ deliveryForm.number}} Date : {{ deliveryForm.deliveryDate | date("d/m/Y") }}
                                </div>
                            {% else %}
                                    <p>Aucun bon de livraison enregistré</p>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>Aucun facture enregistrée</p>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}
